<h1>New expense</h1>

<%= form_tag import_expenses_path, :multipart => true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Expense File (.csv,.xls,.xlsx)" %>
<% end %>

<%= link_to 'Back', expenses_path %>
